<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
      <h2>Registro de estudiantes</h2>
      <form action="/" method="POST" id="formRegister">
        <label >Cedula:</label>
        <input type="text" name="form_cedula"/>
        <p><%= error1 %></p>

        <label >Nombres:</label>
        <input type="text" name="form_nombres"/>
        <p><%= error2 %></p>
        
        <label >Direccion:</label>
        <input type="text" name="form_direccion"  />
        <p><%= error3 %></p>

        <label >Telefono:</label>
        <input type="text" name="form_telefono"/>
        <p><%= error4 %></p>
        
        <label >Correo:</label>
        <input type="email" name="form_correo"   />
        <p><%= error5 %></p>

        <input type="submit" class="btn-login" value="Registrar" />
      </form>
      <p><%= error6 %></p>
  </body>
</html>
